@charset "UTF-8";

body {
    width: 100%;
    font-size: 18px;
    font-family: "Book Antiqua";
}

*{
    padding:0;
    margin:0;
}

header nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

header nav ul {
    display: flex;
    width: 1240px;
    margin: 0 auto;
    padding: 10px 20px;
    justify-content: space-around;
    list-style: none;
}

header h1 {
image-rendering: 400px;
font-size: 60px;
font-family: "Book Antiqua";
padding: 220px ;
text-align: center;
color: white;
}

.fadeIn{
animation-name:fadeInAnime;
animation-duration:5s;
animation-fill-mode:forwards;
opacity:0;
}

@keyframes fadeInAnime{
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

header {
   background: url(images/IMG_0500.jpeg);
   background-attachment: absolute;
   background-size: cover;
   border:1px solid: white;
   height: 740px;
   width: 100%;
}


header ul li a:hover {
    margin-bottom: 50px;
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: white;
    font-family: "Book Antiqua";
}


main {
    background-color: #404040;
}

main h2 {
    color:white;
    font-family: "Book Antiqua";
    padding-top: 20px;
    text-align: center;
    font-size: 60px;
}

.profile {
    display: flex;
    justify-content: space-around;
}

.profile p {
    justify-content: flex-start;
    font-size: 15px;
    color: white;
    font-family: "Book Antiqua";
}

.profile2 {
    display: flex;
    justify-content: flex-end;
    float: left;
    margin-left: 140px;
}

.profile2 img {
  width: 750px;
  height: 620px;
  justify-content: flex-end;
  margin-right: 50px;
}

.fadeLeft{
animation-name:fadeLeftAnime;
animation-duration:5s;
animation-fill-mode:forwards;
opacity:0;
}

@keyframes fadeLeftAnime{
  from {
    opacity: 0;
  transform: translateX(-100px);
  }

  to {
    opacity: 1;
  transform: translateX(0);
  }
}

.skills {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.skills p {
  justify-content: flex-start;
  font-size: 25px;
  color: white;
  font-family: "Book Antiqua";
  margin-left: 140px;
}

.skills2 {
  display: flex;
  justify-content: flex-end;
  float: left;
}

.skills2 img {
  width: 750px;
  height: 620px;
  justify-content: flex-end;
  margin-right: 50px;
}

.fadeRight{
animation-name:fadeRightAnime;
animation-duration:5s;
animation-fill-mode:forwards;
opacity:0;
}

@keyframes fadeRightAnime{
  from {
    opacity: 0;
  transform: translateX(100px);
  }

  to {
    opacity: 1;
  transform: translateX(0);
  }
}


.container {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: : 25px;
}

.hobby {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.hobby p {
    position: absolute;
    font-size: 15px;
    color: white;
    font-family: "Book Antiqua";
}

.hobby img {
    width: 125px;
    height: 125px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px;
}

.fadeUp{
animation-name:fadeUpAnime;
animation-duration:5s;
animation-fill-mode:forwards;
opacity:0;
}

@keyframes fadeUpAnime{
  from {
    opacity: 0;
  transform: translateY(100px);
  }

  to {
    opacity: 1;
  transform: translateY(0);
  }
}

footer {
    width: 100%;
    margin-top: 0px;
    background-color: #404040;
    border:1px solid white;
    padding-top: 20px;
}

footer p {
    font-size: 10px;
    color: white;
    text-align: center;
    padding-bottom: 20px;
}
